/* 전체 화면 중앙 정렬 */
.outerContainer {
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
}

/* 모바일 뷰 제한 컨테이너 (최대 430px) */
.container {
  width: 100%;
  max-width: 430px; 
  background-color: #F7F7F8;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 96px; 
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  font-family: "Pretendard";
}

.upperSection{
    width: 100%;
    height: 50vh;
    max-height: 450px;
    background-color: #0066FF;
    padding: 20px;
}

.rectangle1{
    background-color: rgb(247, 247, 248, 0.2);
    width: 100%;
    height: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.rectangle2{
    background-color: rgb(247, 247, 248, 0.3);

    height: 100px;
    width: 100px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}

.findBtn{
    background-color: #F4F4F5;
    width: 314px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color:#06f;
    border-radius: 12px;
}

.infoContainer{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
}

.infoDetail{
    background-color: #fff;
    border-radius: 13px;
    display: flex;
    justify-content:flex-start;
    padding: 16px;
}

.iconarea1{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0088FF14;
    margin-right: 16px;
}

.iconarea2{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5222214;
    margin-right: 16px;
}

.iconarea3{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #429E0012;
    margin-right: 16px;
}